.Home-subContainer {
    flex-grow: 2;
    flex-basis: 0;
    padding: var(--l) var(--l);
}

.Home-sidebar {
    flex-grow: 1;
    flex-basis: 0;
}

.Home-sidebarContainer {
    align-items: stretch;
    justify-content: space-around;
}

.Home-subTitle {
    font-weight: 300;
    font-size: 24px;
    margin: var(--m) var(--s);
    flex-grow: 1;
    flex-basis: 0;
}

.Home-sidebar-text {
    font-weight: 300;
    font-size: 16px;
    padding: 8px;
    flex-grow: 1;
    flex-basis: 0;
}

#table {
    border-collapse: collapse;
    position: relative;
}

#table td {
    text-align: left;
    padding: 8px;
    width: 30%;
}

#table thead {
    padding: 8px;
    position: absolute;
    top: -30px;
}


#table tbody tr:first-child {
    background-color: #dddddd;
}

#table tbody tr:not(:first-child) { 
    display: none;
    background-color: #ffaaaa;
}

#table-scroll {
    height: 400px;
    overflow: auto;  
}